/*Sets IE viewport to device*/

@-ms-viewport{
	width: device-width;
}

/* General stylings & positioning */

* {
	box-sizing:border-box;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

header .row{
	padding:2% 0;
}

.divider{
	border-bottom:0.25px solid #2C365E;
}

.frame{
	border:0.25px solid #2C365E;
}

footer{
	border-left:0.25px solid #2C365E;
	bottom:0;
	margin:20% auto 20% auto;
	padding:2%;
}

/* Content elements */

h1{
	margin:0;
	margin-bottom: 40px;
}

h2{
	margin-top: 40px;
}

h3{
	margin:2% 0 0 0;
}

a{
	font-weight:700;
	color:#2C365E;
}

a:hover{
	opacity:0.65;
}

header a{
	all: unset;
}

a.ambient{
	all: unset;
}

/* Green Sheme */

#titleBox{
	color:#006F6F;
}

.greenScheme{
	color:white;
	background-color:#006F6F;
	padding-bottom: 50px;
}

.greenScheme a{
	color: #C8FFFF;
}

/* Grey Sheme */

.greyScheme{
	color:#2C365E;
	background-color:#3A3D47;
}

.row{
	background-color:#FFFDF5;
}

.greyScheme .row{
	padding-bottom: 50px;
}

.greyScheme a{
	color: #2C365E;
}

::-moz-selection {
	background:rgba(44,54,94,0.99);/*#2C365E*/
	color: #FFFFFF;
}
::-webkit-selection {
	background:rgba(44,54,94,0.99);/*#2C365E*/
	color: #FFFFFF;
}
::selection {
	background:rgba(44,54,94,0.99);/*#2C365E*/
	color: #FFFFFF;
}

